body{
    background-image: url('../images/header-background.JPG');
    background-color: #cccccc;
} 
.headercontainer{
    max-width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myname{
   color:white;
   font-weight: bold;
   margin-top: 16px;
}
.menu{
    list-style-type: none;
    color:white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}  
li{
    margin-right:20px;
}
.menuitem:hover{
    color:#c5cae9;
    transform: rotate(6deg);
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.mobile-menu{
    margin-top:16px;
    height:20px;
    width:20px
}
.mobile-menu{
    display: none;
    height:20px;
    width:20px;
}


@media (max-width: 500px) {

    .headercontainer{
        max-width:100%;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
    }
    .myname{
       color:white;
       font-weight: bold;
       margin-top: 16px;
    }
    .mob-menu{
        list-style-type: none;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        min-width: 50px;
        height: 150px;
        background-color: cadetblue;
        position: absolute;
        left:260px;
        top: 24px;
        border-radius: 6px
    }  
    li{
        margin-right:20px;
        padding:5px 0px;
    }
    .menuitem:hover{
        color:#c5cae9;
        transform: rotate(6deg);
        transition: all 0.3s ease-out;
        cursor: pointer;
    }
    .mobile-menu{
        height:20px;
        width:20px;
        display: block;
    }
    .head{
        position:relative
    }
}
@media (max-width: 450px) {
    .mob-menu{
        list-style-type: none;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        min-width: 50px;
        height: 150px;
        background-color: cadetblue;
        position: absolute;
        left:230px;
        top: 24px;
        border-radius: 6px
    }  
}
@media (max-width: 400px) {
    .mob-menu{
        list-style-type: none;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        min-width: 50px;
        height: 150px;
        background-color: cadetblue;
        position: absolute;
        left:211px;
        top: 24px;
        border-radius: 6px
    }  
}
@media (max-width: 376px) {
    .mob-menu{
        list-style-type: none;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        min-width: 50px;
        height: 150px;
        background-color: cadetblue;
        position: absolute;
        left:181px;
        top: 24px;
        border-radius: 6px
    }  
}

@media (max-width: 350px) {
    .mob-menu{
        list-style-type: none;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        min-width: 50px;
        height: 150px;
        background-color: cadetblue;
        position: absolute;
        left:167px;
        top: 24px;
        border-radius: 6px
    }  
}